extends ../base.pug

block variables
  - var template = 'home'

block content
  .home(data-background="#1E1E1E" data-color="#F9F1E7")
    .home__wrapper
      .home__header
        .home__header__logo
          svg(viewBox="0 0 34 32" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M29.772 13.3516L26.2197 26.5572C28.6971 23.7449 30.1823 20.1303 30.1823 16.3683C30.1823 15.3122 30.0142 14.3153 29.772 13.3516Z" fill="white")
            path(d="M17.5733 4.5332C16.2456 4.5332 14.9935 4.7299 13.7866 5.02672C10.6857 5.78051 7.89416 7.47299 5.79434 9.8723C3.31623 12.6853 1.83105 16.2992 1.83105 20.0619C1.83105 21.1195 1.99913 22.1149 2.24066 23.0787C2.605 24.563 3.27057 25.9568 4.19621 27.174C5.12184 28.3912 6.28783 29.4057 7.62203 30.155C9.53658 31.2442 11.8297 31.8956 14.4413 31.8956C15.8579 31.8956 17.1849 31.6637 18.4625 31.3316L15.6164 25.2727C15.4349 25.2868 15.2675 25.3376 15.0804 25.3376C12.3918 25.3376 10.5973 24.0368 9.79365 22.0628C9.46455 21.2471 9.29784 20.3752 9.30283 19.4958C9.30283 15.6252 12.2569 11.221 16.7661 11.1117C16.8226 11.1117 16.8728 11.092 16.93 11.092C19.6136 11.092 21.3989 12.3829 22.2061 14.3428L24.389 6.27319C22.4759 5.18393 20.1842 4.5332 17.5733 4.5332Z" fill="white")
            path(d="M11.1704 5.44759C9.49776 6.16763 7.96152 7.16922 6.62869 8.40866L7.4246 5.45111H11.1675L11.1704 5.44759ZM13.7805 5.0281H7.09268L5.79395 9.87157C7.89327 7.47096 10.6849 5.77721 13.7862 5.02246L13.7805 5.0281Z" fill="white")
            path(d="M2.27402 24.5904C3.20116 26.9991 4.90942 29.0286 7.12644 30.3553L6.95907 30.9793H0.555087L2.27402 24.5904ZM2.24012 23.0781L0 31.4058H7.28534L7.6215 30.1544C6.2873 29.4052 5.1213 28.3906 4.19567 27.1734C3.27004 25.9563 2.60446 24.5624 2.24012 23.0781Z" fill="white")
            path(d="M29.1974 1.45845L32.8528 4.60847H32.0117H31.6847L31.5992 4.9208L24.5886 30.9811H18.7651L11.7446 16.0347L11.2503 14.9807L10.9487 16.1052L9.79053 20.4206C9.74846 20.1136 9.72746 19.8041 9.72767 19.4942C9.72767 17.6492 10.4551 15.6554 11.6726 14.1601C12.9494 12.5921 14.655 11.672 16.4989 11.5515L20.376 19.8672L20.8704 20.9247L21.1748 19.7967L25.1388 5.1323L25.2835 4.59719H24.2793L29.1974 1.45845ZM29.2355 0.929688L22.8273 5.01879H24.7277L20.7623 19.6832L16.7665 11.1116C12.2573 11.2208 9.30182 15.6251 9.30182 19.4956C9.29795 20.3752 9.46587 21.2471 9.79618 22.0626L11.3647 16.2166L18.4615 31.3315L18.4961 31.4062H24.9149L32.011 5.03219H33.9997L29.2355 0.929688Z" fill="white")
        a.home__header__link(href=`mailto:${home.data.linktomail[0].text}` data-type='out')=home.data.anchorlink[0].text
        .break-line
      .home__main
        .home__main__title-wrapper
          h1.home__main__title=home.data.title[0].text
          .home__main__subtitle(data-animation="title")
            h2.home__main__subtitle__first=home.data.subtitlefirst[0].text
            h2.home__main__subtitle__second=home.data.subtitlesecond[0].text
            p.home__main__subtitle__label=home.data.subtitlelabel[0].text
            .home__main__subtitle__label-mobile
              !=ctx.prismicH.asHTML(home.data.subtitlelabelmobile).replace(/\n/g, '<br>')
        .home__main__description__wrapper
          h3.home__main__description__title(data-animation='paragraph')=home.data.descriptiontitle[0].text
          .home__main__description__text(data-animation='paragraph')=home.data.description[0].text
        .break-line

      each section in home.data.body
        if section.slice_type === 'project'
          section.home__section
            .home__section__info
              .home__section__info__text
                h3.project__title=section.primary.projecttitle[0].text
                .project__label
                  !=ctx.prismicH.asHTML(section.primary.projectlabel).replace(/\n/g, '<br>')
              a.project__button(href=Link(section.primary.projectlink))=section.primary.projectlinktext[0].text
            .project__media__wrapper
              .project__label-mobile
                    !=ctx.prismicH.asHTML(section.primary.projectlabel).replace(/\n/g, '<br>')
              figure.project__media
                img.project__media__image(alt=section.primary.projectimage.alt data-src=section.primary.projectimage.url)
            .break-line

        if section.slice_type === 'footer'
          .home__footer
            .home__footer__wrapper
              .home__footer__left
                h2.home__footer__left__title=section.primary.footertitle[0].text
                .home__footer__left__text!=ctx.prismicH.asHTML(section.primary.footerlabel).replace(/\n/g, '<br>')
              .home__footer__right
                .home__footer__right__list
                  .home__footer__right__list__item!=ctx.prismicH.asHTML(section.primary.functionsleft).replace(/\n/g, '<br>')
                  .home__footer__right__list__item!=ctx.prismicH.asHTML(section.primary.functionscenter).replace(/\n/g, '<br>')
                  .home__footer__right__list__item!=ctx.prismicH.asHTML(section.primary.functionsright).replace(/\n/g, '<br>')
                a.home__footer__right__button(href=`mailto:${home.data.linktomail[0].text}` data-type='out')=section.primary.mailtext[0].text

      include  ../partials/footer
